@use '@styles/variables.module.scss' as *;
@use '@styles/media.module.scss' as *;
@use '@styles/mixins.module.scss' as mixins;

.searchBar {
  width: 100%;
  padding: 120px 0 0;
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  z-index: 99;
}

.searchWrap {
  @include mixins.flex_box(center, center);
  text-align: center;
}

.searchInput {
  position: relative;
  display: inline-block;
  width: 600px;
  input {
    width: 100%;
    height: 40px;
    border: 1px solid #c8c8c8;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
  }

  img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
  }
}

.searchClose {
  width: 27px;
  height: 27px;
  padding: 5px;
  margin-left: 30px;
}
